@charset "UTF-8";

body {
		margin:0 auto;
	}
	ul {
		list-style: none;
	}
	a {
		text-decoration: none;
	}
	
	#topNav {
		width:100%;
		height:60px;
		background-color: #07D88E;
		position: fixed;
		top:0;
		overflow:hidden;
	}
	
	#logo {
		/* 로고 대략적인 위치 → 임시로 배치 */
		width:200px;
		height:55px;
		margin:2px 0;
		text-align:center;
		line-height:55px;
		background-color: white;
		position: relative;
		left : 60px;
		text-align: center;
		display: inline-block;
	}
	
	
	
	#selBtn {
		float: right;
		height: 50px;
		margin: 5px 50px 4px 0;
		width:200px;
		background-color: white;
		border:1px solid lightgrey;
	}
	
	/* 왼쪽 네비게이션 바  */
	#leftNav{
		width:60px;
		height:100%;
		position:fixed;
		background-color: #07D88E;
		left:0;
		clear:both;
	}
	
	#toHome {
		height:45px;
	}
	#toHome > a {
		display: block;
		text-align:center;
		height:45px;
		line-height:40px;
	}
	
	#leftNav > ul {
		padding:0;
	}
	#leftNav li{
		position:relative;
		left:0;
		font-size: 20px;
	}
	.category {
		display: block;
		text-align: center;
		padding: 20px 0px;
	}
	
	#wrapper {
	margin-left: 60px;
	margin-top: 60px;
}
	
	