@charset "UTF-8";

#barRight {
	float: right;
	margin: 2px 30px;
	height: 55px;
	position: relative;
	right: 0px;
}

#barRight>ul {
	padding: 0;
	margin: 0 auto;
}

#barRight li {
	float: left;
	text-align: center;
	margin: 3px 10px;
}

.imgSet+div {
	font-size: 12px;
	margin: 0;
	color: white;
	font-weight: bold;
}
/* 위는 공통 CSS에서 빠진 로그인 , 회원가입 버튼 부분 */
#wrapper {
	margin-left: 60px;
	margin-top: 60px;
}

#wrapMain {
	margin: 0 auto;
}

#mainImg {
	background-color: #EEEEEE;
	width: 100%;
	height: 430px;
}

#mainImg>img {
	display: block;
	padding: 5px 0;
	margin: 0 auto;
}

#mainInfo {
	height: 300px;
	margin: 0 auto;
	text-align: center;
}

#infoWrap {
	display: inline-block;
	clear: both;
	height: 100%;
	text-align: center;
}

#infoWrap>div {
	float: left;
	padding: 40px 40px;
	margin: 30px 40px;
}

#infoWrap p {
	font-family: 'Russo One', 'Do Hyeon', sans-serif;
	font-size: 25px;
	color: Darkgrey;
}

#infoWrap p:nth-of-type(1) {
	font-weight: bold;
}

#infoWrap p:nth-of-type(2) {
	font-size: 16px;
}

#infoWrap p:nth-of-type(3) {
	font-size: 12px;
}