@charset "UTF-8";

#wrapDiv
{
	margin : 0 auto;
	width: 100%;
	height : 100%;
	position:relative;
	
}

#writeFormDiv {
   font-family: 'Russo One', 'Do Hyeon', sans-serif;
   position:absolute;
   width: 80%;
   height: 100%;
   margin-left : 9%;
   margin-top : 30px;
   
 }
 
#writeContent{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
} 

#writeButtons{
	text-align: right;
}

.writeInfoDiv {
	width: 100%;
} 

input[type=file] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
 
input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


#writeOkDiv{
	display:flex;
	align-items:center;
	
}

#writeOkDiv > table {
	width: 100%;
}

.writeTr{
	width: 100%;
	text-align:right;
}

table > td {
	
	border: 1px solid black;
	width:500px;
}




#writeOk{
	font-family: 'Russo One', 'Do Hyeon', sans-serif;
	display: inline-block;
    border-radius: 4px;
    background-color: #07D88E;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    width: 150px;
    height: 45px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    align : right;
}




